@charset "UTF-8";

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(download.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: white;
}

a {
    background-color: rgba(0, 0, 0, 0.507);
    text-decoration: none;
    margin-right: 15px;
    color: white;
    border: 3px solid green;
    padding: 10px;
    border-radius: 10px;
}
header{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.705);
    margin: 1rem;
    padding: 1rem;
}
header img {
    float: inline-start;
    width: 5%;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

nav {
    text-align: center;
}

.filme1 {
    font-size: x-large;
    padding: 1rem;
    margin: 1rem;
    background-color: rgba(0, 0, 0, 0.719);
    border: 1px solid green;
    border-radius: 12px;
}

.lista {
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.719);
    font-size: x-large;
    border: 1px solid green;
    padding: 1rem;
    margin: 1rem;
}

.img2 {
    float: left;
}

.img3 {
    float: right;
}

figure img {
    height: 400px;
}

figure figcaption {
    font-size: 1.0rem;
    font-weight: 600;
    color: white;
    font-style: oblique;
}
footer{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.26);
}
h1{
    font-style: italic;
    background-color: rgba(0, 0, 0, 0.664);
}
.vel5{
    flex-direction: column;
    justify-content: right;
    display: flex;
    align-items: flex-end;
}