* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: rgb(0, 0, 0);
}

header {
    background: #f4f4f4;
    padding: 1rem;
    text-align: center;
}

.container {
    margin: auto;
    width: 500px;
    overflow: auto;
    padding: 3rem 2rem;
}

#form {
    padding: 2rem;
    background: #f4f4f4;
}

#form label {
    display: block;
}

#form input[type='text'] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
#form input[type='date'] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#incluir {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    background: green;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
}
#excluir {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    background: red;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
}

.sub:hover {
    background: #444;
}

.bg-dark {
    background: #333;
    color: #fff;
}

.error {
    font-size: 0.8rem;
    background: #fff;
    color: red;
}
#users{
    background-color: white;
    padding: 1.5em;
    list-style: none;
}