@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(stretched-1920-1200-364327.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    max-width: 1500px;
    margin: auto;
    overflow: auto;
    padding: 1.9rem;
}
header{    
    height: 15vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}
header h1{
    font-size: 50px;
    margin-bottom: 1.5em;
    color: white;
    text-shadow: 4px 2px black;
}
header span{
    color: red;
}
.hq{    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    background: rgba(245, 245, 245, 0.267);
    margin-bottom: 1.7rem;
    border: 1px solid black;
    border-radius: 10px;
}
.hq img{
    height: 400px;
    width: 650px;
    margin: 20px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
}
.hq p{
    font-size: 1.4em;
    font-weight: 600;
    color:whitesmoke;
    text-shadow: 2px 2px black;
}
.hqo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    background: rgba(245, 245, 245, 0.267);
    margin-bottom: 1.7rem;
    border: 1px solid black;
    border-radius: 10px;
}
.hqo img{
    height: 400px;
    width: 100%;
    margin:auto;
}
.hqo p{
    font-size: 1.4em;
    font-weight: 600;
    color:whitesmoke;
    text-shadow: 2px 2px black;
}
.hq:nth-child(odd) img{
    order: 2;
    width: 90%;
}
.hq>div {
    padding: 2rem;
}
.hqo>div {
    padding: 2rem;
}
footer{
    text-align: center;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.295);
}